<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Vamos - Let's Go Places!</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <header>
        <nav class="green lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo center">Vamos</a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/logout">Logout</a></li>

                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li>
                        <a href="#" id="sidelogo" class="brand-logo"><img class="center-align" src="./images/logo_transparent.png"></a>
                    </li><br><br>
                    <div class="divider"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>

    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <div class="row center">
                    <h1 class="header center orange-green">Admin View</h1>
                </div>
                <div class="row center">
                    <a href="/" class="waves-effect waves-light btn">Back to Home</a>
                </div>
                <br><br>

            </div>
        </div>
    </main>

    <footer class="page-footer green ">
        <div class="container ">
        </div>
        <div class="footer-copyright ">
            <div class="container ">
                Copyright 2017 - Vamos
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src="js/materialize.js "></script>
    <script src="js/init.js "></script>
    <script type="text/javascript " src="./js/socket.io.js "></script>

</body>

</html>
