<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Vamos - Let's Go Places!</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <header>
        <nav class="green lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo center">Vamos</a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="#">About</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">About</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <div class="row center">
                  <img class="responsive-img center-align" style="max-width: 50%;" src="./images/logo_transparent.png">
                </div>
                <div class="row center">
                    <h5 class="header col s12 light">Let's Go Places!</h5>
                </div>
                <div class="row center">
                    <a href="/locate" id="download-button " class="btn-large waves-effect waves-light green">Start</a>
                </div>
                <br><br>

            </div>
        </div>
    </header>
    <main>

        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-black-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">Wicked Fast</h5>

                            <p class="light">Using the most innovative web frameworks Vamos is designed to be fast. That way you can find what you want to do that much faster!</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-black-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">User Experience Focused</h5>

                            <p class="light">Vamos is designed to be lightweight and simple. This allows for a easy user experience for all our clients. Even the admins got it easy.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-black-text"><i class="material-icons">my_location</i></h2>
                            <h5 class="center">Location Based</h5>

                            <p class="light">We do all the hardwork finding your location and whats around you. Now you don't have to awkwardly ask around what to do in a new place.</p>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>

            <div class="section">

            </div>
        </div>
    </main>

    <footer class="page-footer green">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright 2017 - Vamos
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    </script>

</body>

</html>
