/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ul.side-nav {
    text-align: center;
}

.home-banner{
    background-image: url('http://159.203.93.15:3002/images/home.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.result-banner{
    background-image: url('http://159.203.93.15:3002/images/results.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.resturant-banner{
    background-image: url('http://159.203.93.15:3002/images/resturant.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}


.attraction-banner{
    background-image: url('http://159.203.93.15:3002/images/attractions.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}


.hotel-banner{
    background-image: url('http://159.203.93.15:3002/images/hotel.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.coffee-banner{
    background-image: url('http://159.203.93.15:3002/images/coffee.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}


.beauty-banner{
    background-image: url('http://159.203.93.15:3002/images/spa.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.result-button {
width: 200px;
}

.left-text-nav{
  padding-left: 3cm;
}

#sidelogo {
    padding-top: 10px;
}

#sidelogo img {
    max-width: 120px;
}

#logoimg {
    max-width: 30%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    #logoimg {
        max-width: 70%;
        height: auto;
    }
}
