<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>
    <main>
        <div id="index-banner" class="home-banner">
          <div class="container">
              <br><br><br><br>
              <div class="row center">
                  <img class="center-align" id="logoimg" src="./images/vamos2.png">
              </div>
              <div class="row center">
                  <h3 class="white-text">About</h3>
              </div>
              <br><br><br><br>
          </div>
        </div>

        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m12 center" >
                        <p>Vamos is a project by Caleb, Hannah, Henrique, Tanner and Zach. It's goal is to provide a crowd sourced platform to allow people to see what's near them and what people think about the said locations.</p>
                    </div>
                </div>

            </div>
            <br><br>

            <div class="section">

            </div>
        </div>
    </main>
    <footer class="page-footer green">
        <% include ../partials/footer %>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    </script>

</body>

</html>
