<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
</head>

<body>
    <header>
        <% include ../partials/nav %>
    </header>
    <main>
        <div id="index-banner" class="home-banner">
          <div class="container">
              <br><br><br><br>
              <div class="row center">
                  <img class="center-align" id="logoimg" src="./images/vamos2.png">
              </div>
              <div class="row center">
                  <a href="/locate" id="download-button " class="btn-large waves-effect waves-light green">Start</a>
              </div>
              <br><br><br><br>
          </div>
        </div>

        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m6" style="color:#303f9f;">
                        <div class="icon-block">
                            <h2 class="center"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">Lightning Fast</h5>
                        </div>
                    </div>
                    <div class="col s12 m6" style="color:#303f9f;">
                        <p class="light">Using the most innovative web frameworks Vamos is designed to be fast. That way you can find what you want to do that much faster!</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m6" style="color:#ff8a80;">
                          <div class="icon-block">
                              <h2 class="center"><i class="material-icons">group</i></h2>
                              <h5 class="center">User Experience Focused</h5>
                          </div>
                      </div>
                      <div class="col s12 m6" style="color:#ff8a80;">
                        <p class="light">Vamos is designed to be lightweight and simple. This allows for a easy user experience for all our clients. Even the admins got it easy.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m6" style="color:#303f9f;">
                            <div class="icon-block">
                                <h2 class="center"><i class="material-icons">my_location</i></h2>
                                <h5 class="center">Location Based</h5>
                            </div>
                        </div>
                        <div class="col s12 m6" style="color:#303f9f;">
                          <p class="light">We do all the hardwork finding your location and whats around you. Now you don't have to awkwardly ask around what to do in a new place.</p>
                        </div>
                      </div>
                </div>

            </div>
            <br><br>

            <div class="section">

            </div>
        </div>
    </main>
    <footer class="page-footer green">
        <% include ../partials/footer %>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    </script>

</body>

</html>
